.radiocontainer {
    background-color:#f1f1f1;
    position: relative;
    padding:10px 10px 10px 40px;
    margin-bottom: 1px;
    font-size: 18px;
    word-wrap: break-word;
  }
  .radiocontainer.correct {
    background-color:#ddd;
  }
  .radiocontainer.correct.selected {
    background-color:#d4edda;
  }
  .radiocontainer.wrong {
    background-color:#f8d7da;
  }
  .markcontainer {
    position:absolute;
    left:15px;
  }
  .answercomment {
    background-color:rgba(0, 0, 0, 0.2);
    color:white;
    white-space: nowrap;
    position:absolute;
    right:10px;
    top:10px;
  }